<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAMrVipnT3TsKRDKrrYcA8JhASETgJtLrI</string>
	<key>GCM_SENDER_ID</key>
	<string>1068662131377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pizza</string>
	<key>PROJECT_ID</key>
	<string>pizza-delivery-14d51</string>
	<key>STORAGE_BUCKET</key>
	<string>pizza-delivery-14d51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068662131377:ios:daeb955ff853166057f090</string>
</dict>
</plist>